/* global styles */
.hidden {
  opacity: 0 !important;
  z-index: -1 !important;
}

/* title */
.title-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 40px 0;
  box-sizing: border-box;
}

.title {
  display: block;
  font-size: 38px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #000000;
}

.title b {
  font-weight: 800;
}

.btn-geolocation{
  font-size: 40px;
  background: none;
  border: 0;
  cursor: pointer;
}

/* contents */
.contents-wrap {
  width: 100%;
  padding: 0 40px;
  position: relative;
  box-sizing: border-box;
}

/* category */
.category-wrap{ 
  width: 640px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  gap: 24px;
}

.category {
  width: 308px;
  height: 176px;
  display: flex;
  align-items: center;
  padding: 56px 32px;
  background: #FFFFFF;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

h4.catagory-name {
  min-width: 64px;
  height: 64px;
  font-size: 34px;
  font-weight: 500;
  line-height: 60px;
  text-indent: 88px;
  color: #979694;
}

.catagory-name.c-all{background: url(./images/icon/ico-category-all.png) no-repeat top 0px left 0px / contain}
.catagory-name.c-01{background: url(./images/icon/ico-category-01.png) no-repeat top 0px left 0px / contain}
.catagory-name.c-02{background: url(./images/icon/ico-category-02.png) no-repeat top 0px left 0px / contain}
.catagory-name.c-03{background: url(./images/icon/ico-category-03.png) no-repeat top 0px left 0px / contain}
.catagory-name.c-04{background: url(./images/icon/ico-category-04.png) no-repeat top 0px left 0px / contain}
.catagory-name.c-05{background: url(./images/icon/ico-category-05.png) no-repeat top 0px left 0px / contain}

.category.pick{ 
  background: #FFFFFF; 
  border: 2px solid #F8532F;
}

.category.pick h4 {
  font-weight: 600;
  color: #000000;
}

.btn-roulette{
  display: block;
  width: 100%;
  height: 210px;
  position: fixed;
  bottom: 0;
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  background: url(./images/text/btn-pick.png) no-repeat top 56px left 50% #F8532F;
  background-size: 180px;
  border: 0;
  border-radius: 40px 40px 0 0;
}

.btn-roulette::after {
  content: '';
  display: block;
  width: 530px;
  height: 156px;
  position: absolute;
  left: 50%;
  bottom: 168px;
  transform: translate(-50%, -6px);
  background: url(./images/banner/banner-bottom-pikari.png) no-repeat 0 / contain;
  cursor: pointer;
}

/* modal */
.result-view{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 138px 65px 222px;
  box-sizing: border-box;
  background: #F8532F;
  opacity: 1;
  z-index: 5;
  transition: .7s;
}

.result-wrap{
  height: 100%;
  display: flex;
  flex-flow: wrap column;
  justify-content: space-between;
  align-items: center;
}

.result-header {
  width: 590px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 64px;
}

.result-title {
  width: 300px;
  height: 250px;
  background: url(./images/banner/banner-pikari.png) no-repeat 0 / contain;
}

.result-name {
  font-family: 'Cafe24Ssurround';
  font-size: 96px;
  line-height: 110px;
  font-weight: 700;
  color: #FFFFFF;
}

.btn-result{
  display: block;
  padding: 56px 100px;
  font-size: 32px;
  font-weight: 500;
  color: #FFFFFFE5;
  letter-spacing: -0.01em;
  background: #F96444;
  border: 0;
  border-radius: 200px;
}