/* global styles */
canvas { transition: 2s; }
.hidden { display: none !important;}

/* title */
.title-wrap {
  padding-top: 56px;
}

.title {
  width: 438px;
  height: 76px;
  background: url(./images/title-lunchpick.png) no-repeat 0 / contain;
}

/* category */
.category-wrap{ 
  width: 500px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  gap: 16px;
}

.category {
  display: block;
  width: 155px;
  height: 70px;
  padding: 16px;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
  color: #9B8946;
  background: #FFFFFF4D;
  border-radius: 16px;
    box-sizing: border-box;
    cursor: pointer;
}

.category.pick{
  font-weight: 600;
  color: #000000;
  background: #FFFFFF;
}

/* contents */
.contents-wrap {
  width: 100%;
  height: calc(100vh - 328px);
  position: relative;
  margin-top: 74px;
}

/* roulette */
.roulette-wrap {
  width: 1232px;
  height: 1232px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 35%);
  border: 20px solid #1F1F1F;
  border-radius: 100%;
  box-sizing: border-box;
}

.roulette-wrap::before {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -5px);
  border-top: 44px solid #1F1F1F;
  border-left: 47px solid transparent;
  border-right: 47px solid transparent;
}

.roulette-wrap[data-state=ready] {
  background: #FFFFFF;
}

.roulette-wrap[data-state=ready]::after {
  content: '';
  display: block;
  width: 311px;
  height: 216px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 153px);
  background: url(./images/text-lunchpick.png) no-repeat 0 / contain;
}

.roulette {
  width: 1212px;
  height: 1212px;
  border-radius: 100%;
}

.btn-roulette{
  display: block;
  width: 351px;
  height: 351px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 65px);
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  background: url(./images/btn-roulette.png) no-repeat 0 / contain;
  border-radius: 100%;
  border: 0;
  z-index: 2;
}

.btn-roulette[data-action=start] {
  background: url(./images/btn-start-roulette.png) no-repeat 0 / contain;
}

/* modal */
.result-view{

}

.result-wrap{
  
}

.result-wrap::before{

}

.result-title {

}

.result-name{

}

.btn-result{
  
}